@charset "utf-8";
/* CSS Document */
@media screen{

.small_text {
    background-color: #56C76B;
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
}
.info {
    clear: none;
    text-align: right;
    float: left;
}
.backtop {
    background-color: #56C76B;
    margin-bottom: 0px;
    width: 276px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 925px;
}
}
